.NewsandUpdates-container{
    width: 100%;
    height: auto;
}

.News-topic-container{
    margin-left: 140px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.first-announce-container{
    display: flex;
    width: 80%;
    align-items: center;
    height: auto;
    margin-left: 150px;
    margin-top: 50px;
}

.fac-readmore-one{
    align-items: center;
    width: 580px;
    height: auto;
    margin-left: 0px;
    margin-right: 5rem;
}

.fac-image{
    overflow: hidden;
    width: 580px;
    height: auto;
    margin-left: 0px;
}

.second-announce-container{
    display: block;
    width: 80%;
    align-items: center;
    height: auto;
    margin-left: 150px;
    margin-top: 50px;
}

.sac-image{
    width: 35%;
    height: auto;
}

.sac-readmore{
    
    margin-bottom: 40px;
    display: flex;
}

.third-announce-container{
    display: flex;
    width: 83%;
    align-items: center;
    height: auto;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.tac-clickhere{
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 40px;
    background-color: #D9D9D9;
}

.tac-image{
    width: 80%;
    margin-top: 37px;
    margin-left: 37px;
    margin-bottom: 37px;
}

.clickhere-tac{
    width: 150px;
    height: 40px;
    background-color: #000066;
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    margin-left: 112px;
    margin-bottom: 30px;
}

