.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    background-size: cover;
    margin-top: 20px;
  }
  
  .registration-form {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color:white;
    padding: 2rem;
    border-radius: 0px;
    width: 50%;
    min-width: 300px;
  }
  
  .input-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px; 
  }
  
  label {
    
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.5rem;
    border: none;
    border-radius: 0px;
    width: 100%;
    background-color: #dfe1fc;
    transition: background-color 0.3s;
  }
  
  input:focus {
    outline: none;
    background-color: #e0e1fc;
  }
  
  .btn {
    background-color: navy!important;
    color: white !important;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    
    width: 100%;
  }
  
  .btn:hover {
    background-color:white;
  }
  .p1{
    color: black;
  }
  .photo-preview {
    height: 200px; /* Set the desired height for the container */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; /* Use the full height of the container */
  }
    /*-------------------------------------------------*/

    h3 {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .form-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 400px;
      margin-right: 400px;
      margin-bottom: 10px;
     
    }
    
    label {
      flex: 1;
      margin-right: 10px;
      font-weight: bold;
    }
    
    input {
      flex: 3;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }