    /*TitleBox.css*/

    .Titlebox-container-General{
      margin-top: 50px;
      color: black;
      font-size: 36px;
      text-align: center;
    
    }

    .Titlelogo-image-General{
      margin: -280px 0 0 -600px;
      width: 80px;
      height: 80px;
  }

 